<div class="flex">
  <div class="flex-none w-100 mr-10">
    <%= message.phone_number %>
  </div>
  <div class="grow">
    <%= message.text %>
  </div>
  <div class="flex-none w-30">
    <%= message.status %>
  </div>
</div>
